  <%= image_tag 'runaround_image.jpg', :class => 'welcome_img' %>
  <div class="welcome_dialog">
    <h3>Welcome to the Run Around</h3>
    <p>This is a simple site where you can log your runs and chart progress on your workout routine.</p>

    <div class="clearfix">
      <% form_tag :controller => 'login', :action => 'login' do %>
        <div class="login_sector">
          <div class="login_prompt"><b>Login</b>:</div>
          <div class="clearfix"><label>Username:</label><%= text_field_tag :username, params[:username], :size => 20, :class => 'inputtext' %></div>
          <div class="clearfix"><label>Password:</label><%= password_field_tag :password, params[:password], :size => 20, :class => 'inputtext' %></div>
          <input id="submit" class="inputsubmit" value="Login" name="submit" type="submit" />
        </div>
      <%- end -%>

      <%- if true -%>
        <div class="login_sector_fb">
          <div class="login_prompt">Or <b>login</b> with Facebook:</div>
            <%= render :partial => '/shared/fbconnect_button' %>
        </div>
      <%- end -%>
    </div>

    <div class="signup_container">Don't have an account? <%= link_to 'Register Now!', :controller => 'login', :action => 'register' %>
    </div>
  </div>
